<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="assets/css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash margin_bottom">
                {% for category, message in messages %}
                    <div class="{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <header class="cabecalho d-flex">
        <div>
            <img class="logo" src="assets/img/logo.png">
        </div>
        <div class="d-flex caminhos">
            <a href="index.html"><p class="caminho">Home</p></a>
            <div class="divisao"></div>
            <a href="receitas.html"><p class="caminho">Receitas</p></a>
            <div class="divisao"></div>
            <a href="despesas.html"><p class="caminho">Despesas</p></a>
        </div>

        <div>
            <img class="usuario" src="assets/img/usuario.png">
        </div>
    </header>

    <section class="fundo1">

        <div class="d-flex">
            <img class="pessoa4 relativo" src="assets/img/pessoa4.png">
            <div class="saldo_total pessoa4_cor">
                <p class="letrinha texto_valor">Seu saldo total é de:</p>
                <p class="letrao valor">{{ total }}</p>
            </div>
            <script src="assets/js/codigo.js"></script>
        </div>
    </section>

    <p class="motivacao letrinha">Que tal algumas dicas?</p>
    <section class="d-evelin" id="dica-vermelho">
        <div class="dica">
            <img class="pessoa_dica1 relativo" src="assets/img/dica1.png">
            <div class="info_dica1">
                <p class="letrao texto-dica1">Como estabelecer Limites Semanais de Gasto?</p>
            </div>
            <div class="faixa_preta d-flex">
                <p class="ver letrinha">Ver dica</p>
                <img class="ir" src="assets/img/ir.png">
            </div>
        </div>

        <div class="dica">
            <img class="pessoa_dica2 relativo" src="assets/img/dica2.png">
            <div class="info_dica2">
                <p class="letrao texto-dica2">O que são Fundos de Objetivo?</p>
            </div>
            <div class="faixa_preta d-flex">
                <p class="ver letrinha">Ver dica</p>
                <img class="ir" src="assets/img/ir.png">
            </div>
        </div>

    </section>

    <section class="d-evelin" id="dica-verde">
        <div class="dica">
            <img class="pessoa_dica3 relativo" src="assets/img/dica3.png">
            <div class="info_dica3">
                <p class="letrao texto-dica3">Separando dinheiro para realizações pessoais</p>
            </div>
            <div class="faixa_preta d-flex">
                <p class="ver letrinha">Ver dica</p>
                <img class="ir" src="assets/img/ir.png">
            </div>
        </div>

        <div class="dica">
            <img class="pessoa_dica4 relativo" src="assets/img/dica4.png">
            <div class="info_dica4">
                <p class="letrao texto-dica4">Como criar um Orçamento de lazer?</p>
            </div>
            <div class="faixa_preta d-flex">
                <p class="ver letrinha">Ver dica</p>
                <img class="ir" src="assets/img/ir.png">
            </div>
        </div>
    </section>

    <div class="espaco"></div>

    <section class="d-evelin">
        <div class="espaco"></div>
        <div id="historico">
            <div class="azul_grafico2">
                <div class="d-flex espaco_esquerda">
                    <p class="info2">Dia</p>
                    <div class="divisao2"></div>
                    <p class="info2">Valor</p>
                    <div class="divisao2"></div>
                    <p class="info2">Fonte</p>
                </div>
            </div>
            <div class="grafico2">
                {% for receita in receitas %}
                <div class="dado d-flex">
                    <div class="subquadro_re1 centraliza">
                        <p>{{ receita[3] }}</p>
                    </div>
                    <div class="subquadro_re2 centraliza">
                        <p>{{ receita[2] }}</p>
                    </div>
                    <div class="subquadro_re1 centraliza">
                        <p>{{ receita[1] }}</p>
                    </div>
                    <div class="subquadro_re2 centraliza">
                        <button class="ver_des">ver receita</button>
                    </div>
                </div>
                {% endfor %}

                {% for despesa in despesas %}
                <div class="dado d-flex">
                    <div class="subquadro_de1 centraliza">
                        <p>{{ despesa[3] }}</p>
                    </div>
                    <div class="subquadro_de2 centraliza">
                        <p>{{ despesa[2] }}</p>
                    </div>
                    <div class="subquadro_de1 centraliza">
                        <p>{{ despesa[1] }}</p>
                    </div>
                    <div class="subquadro_de2 centraliza">
                        <button class="ver_des">ver despesa</button>
                    </div>
                </div>
                {% endfor %}
                
            </div>

        </div>
    </section>

    <section >
        <div class="grafico">
            <p>GRAFICO</p>
        </div>
    </section>

    <footer class="rodape">

    </footer>
</body>
</html>
