* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 0.8s;
}


/* cola para outras coisas */
.d-flex{
    display: flex;
}

.d-evelin{
    display: flex;
    justify-content: space-evenly;
}

.centraliza{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.relativo{
    position: relative;
}

.espaco{
    height: 150px;
}

.mini-espaco{
    height: 20px;
}

.espaco_esquerda{
    margin-left: 90px;
}

.position-ab{
    position: absolute;
    left: 215px;
}

.oculto {
    display: none;
}

/* fontes */

.letrinha{
    font-family: "Roboto";
}

.letrao{
    font-family: "Anton";
}


/* Pagina inicial / cabeçalho*/
.cabecalho{
    background-color: rgba(0, 0, 0, 0.801);
    height: 90px;
    width: 100%;
    z-index: 90;
    position: fixed;
}

.logo{
    height: 90px;
    margin-left: 20px;
}

.texto-logo{
    font-size: 38px;
    margin-bottom: -20px;
    color: white;
}

.caminhos{
    margin-left: 750px;
}

.texto-cabecalho{
    color: rgb(247, 244, 244);
    margin-top: 35px;
    text-align: center;
    font-size: 30px;
}

.caminho-verde{
    background-color: rgba(0, 0, 0, 0.218);
    height: 150px;
    width: 100px;

    margin-top: -60px;
}

.caminho-verde:hover{
    border-radius: 15px;
    background-color: #bfcc3a;
    margin-top: -20px;

}

.caminho-amarelo{
    background-color: rgba(0, 0, 0, 0.218);
    height: 150px;
    width: 130px;

    margin-top: -60px;
}

.caminho-amarelo:hover{
    border-radius: 15px;
    background-color: #fbc12d;
    margin-top: -20px;

}

.caminho-vermelho{
    background-color: rgba(0, 0, 0, 0.218);
    height: 150px;
    width: 140px;

    margin-top: -60px;
}

.caminho-vermelho:hover{
    border-radius: 15px;
    background-color: #df2828;
    margin-top: -20px;

}


.usuario{
    height: 90px;
    margin-left: 50px;
}

.escuro{
    background-color: rgba(0, 0, 0, 0.61);
    height: 900px;
    width: 100%;

    position: fixed;
}

.mais{
    height: 800px;
    width: 400px;

    background-color: #f4f4f4;
    right: 300px;

    position: relative;
    margin-bottom: -900px;
    margin-left: 93.5%;
    
}

.mais .usuario{
    height: 120px;
    margin-left: 50px;
    
}

.mais p{
    margin-top: 30px;
    font-size: 25px;
}

.mais .espaco{
    width: 20px;
}

.informacoes p{
    margin-top: 0px
}

.informacoes .letrao{
    font-size: 28px;
    margin-left: 30px;
}

.informacoes .letrinha{
    font-size: 23px;
    margin-left: 30px;
}

.botton{
    height: 40px;
    width: 120px;

    background-color: rgb(126, 126, 126);
    border-color: rgb(126, 126, 126);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    font-size: 20px;
}

/* pagina inicial / body*/
/* pagina inicial / body / saldo-total*/

.saldo_total{
    height: 20%;
    width: 60%;
    box-shadow: #313131 15px 7px 20px;
    border-radius: 10px;
    margin-left: -18%;
    margin-top: 18.8%;
}

.pessoa1{
    height: 400px;
    width: 560px;
    
    left: 5%;
    bottom: -150px;
}

.pessoa1_cor{
    background-color: rgb(224, 231, 151);
}

.fundo1{
    background-image: url(../img/fundo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.pessoa2{
    height: 400px;
    width: 560px;
    
    left: 10%;
    bottom: -150px;
}

.pessoa2_cor{
    background-color: rgb(241, 255, 88);
}

.fundo2{
    background-image: url(../img/fundo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.pessoa3{
    height: 400px;
    width: 560px;
    
    left: 20%;
    bottom: -230px;
}

.pessoa3_cor{
    background-color: rgb(251, 193, 45);
}

.fundo3{
    background-image: url(../img/fundo3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.pessoa4{
    height: 400px;
    width: 560px;
    
    left: 5%;
    bottom: -150px;
}

.pessoa4_cor{
    background-color: rgb(223, 40, 40);
}

.fundo4{
    background-image: url(../img/fundo4.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.texto_valor{
    margin-top: 30px;
    margin-left: 350px;
    font-size: 35px;
}

.valor{
    margin-top: -35px;
    margin-left: 350px;
    font-size: 150px;
}

.fundo5{
    background-image: url(../img/fundo5.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.fundo6{
    background-image: url(../img/fundo6.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.fundo7{
    background-image: url(../img/fundo7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}


/* pagina inicial / body / dicas*/

.motivacao{
    margin-top: 300px;
    font-size: 25px;
    margin-left: 150px;
}

.info_dica1{
    margin-top: -350px;
    height: 225px;
    width: 550px;
    background-color: pink;
    border-radius: 5px 5px 0px 0px;
}

.pessoa_dica1{
    height: 390px;
    width: 400px;

    top: -96px;    
}

.texto-dica1{
    margin-left: 220px;
    margin-right: 30px;
    font-size: 41px;

    color: rgb(254, 147, 165);
}

.info_dica2{
    height: 225px;
    width: 550px;
    background-color: rgb(141, 167, 228);
    border-radius: 5px 5px 0px 0px;
    margin-top: -230px;
}

.pessoa_dica2{
    height: 270px;
    width: 370px;

    top: 25px;
    right: 50px;    
}

.texto-dica2{
    margin-left: 250px;
    font-size: 50px;

    color: rgb(85, 122, 208);
}

.info_dica3{
    height: 225px;
    width: 550px;
    background-color: rgb(186, 141, 228);
    border-radius: 5px 5px 0px 0px;
}

.pessoa_dica3{
    height: 270px;
    width: 370px;

    top: 254px;
    right: 50px;    
}

.texto-dica3{
    margin-left: 240px;
    font-size: 38px;

    color: rgb(145, 85, 208);
}

.info_dica4{
    height: 225px;
    width: 550px;
    background-color: rgb(228, 190, 141);
    border-radius: 5px 5px 0px 0px;
}

.pessoa_dica4{
    height: 270px;
    width: 370px;

    top: 254px;
    right: 50px;    
}

.texto-dica4{
    margin-left: 250px;
    font-size: 50px;

    color: rgb(208, 155, 85);
}

.faixa_preta{
    background-color: black;
    width: 550px;
    height: 25px;
    border-radius: 0px 0px 5px 5px;
}

.ver{
    color:#ffffff;
    font-size: 16px;
    margin-right: 20px;
    margin-left: 430px;

}

.ir{
    height: 25px;
    width: 25px;
}



/* pagina inicial body receitas e despesas*/

.quadro_login{
    background-color: white;
    height: 500px;
    width: 850px;
    box-shadow: #313131 7px 7px 7px;
}


/* pagina inicial / despesas e receitas */

.grafico2{
    background-color: rgb(247, 244, 244);
    height: 300px;
    width: 850px;
    box-shadow: #313131 10px 7px 20px;
    border-radius: 0px 0px 10px 10px;
    overflow: auto;
}

.azul_grafico2{
    height: 100px;
    width: 850px;

    box-shadow: #313131 15px 7px 20px;
    background-color: blue;
    border-radius: 10px 10px 0px 0px;

    display: flex;
    flex-direction: column;
    text-align: end;
}

.grafico2 p{
    font-size: 25px;
    margin-left: 30px;
    margin-top: 8px;
}

.zindex{
    z-index: 100;
}

.ver_des{
    background-color: blue;
    border-color: blue;
    width: 150px;
    height: 30px;
    border-radius: 100px;
    color: white;
    font-size: 20px;
    margin-top: 5%;
}

.grafico p{
    font-size: 25px;
    margin-left: 30px;
    margin-top: 8px;
}

.subquadro_de1{
    background-color: #ff5252;
    height: 50px;
    width: 212.5px;
}

.subquadro_de2{
    background-color: #ff7272;
    height: 50px;
    width: 212.5px;
}

.subquadro_re1{
    background-color: #bbf771;
    height: 50px;
    width: 212.5px;
}

.subquadro_re2{
    background-color: #d9ffab;
    height: 50px;
    width: 212.5px;
}


/* pagina dicas */

.fundo-liso1{
    width: 100%;
    height: 600px;
    background-color: pink;
}

.pensando1{
    height: 800px;
    bottom: 200px;
    left: 150px;
}

.titulo1{
    color: rgb(254, 147, 165);
    font-size: 85px;
    margin-right: 80px;
    margin-left: -100px;
    margin-top: 130px;
}

.fundo-liso2{
    width: 100%;
    height: 600px;
    background-color: rgb(141, 167, 228);
}

.pensando2{
    height: 600px;
    bottom: 0px;
    left: 50px;
}

.titulo2{
    color: rgb(85, 122, 208);
    font-size: 85px;
    margin-right: 80px;
    margin-left: -100px;
    margin-top: 130px;
}

.fundo-liso3{
    width: 100%;
    height: 600px;
    background-color: rgb(186, 141, 228);
}

.pensando3{
    height: 600px;
    bottom: 0px;
    left: 50px;
}

.titulo3{
    color: rgb(145, 85, 208);
    font-size: 75px;
    margin-right: 50px;
    margin-left: -100px;
    margin-top: 130px;
}

.fundo-liso4{
    width: 100%;
    height: 600px;
    background-color: rgb(228, 190, 141);
}

.pensando4{
    height: 600px;
    bottom: 0px;
    left: 60px;
}

.titulo4{
    color: rgb(208, 155, 85);
    font-size: 85px;
    margin-right: 80px;
    margin-left: -100px;
    margin-top: 130px;
}

.texto-grande .titulo{
    font-size: 40px;
    margin-left: 50px;
}

.texto-grande .texto{
    font-size: 20px;
    margin-left: 100px;
    margin-right: 80px;
}


/* pagina login */

.pessoa-fundo{
    height: 182.3%;
    margin-left: -10%;

}

.quadro_login{
    background-color: rgb(247, 244, 244);
    height: 80%;
    width: 25%;
    box-shadow: #313131 10px 7px 20px;
    margin-top: 5%;
    border-radius: 15px;
    margin-left: -6%;
}

.logo2{
    height: 120px;
}

.quadro_login input{
    width: 83%;
    height: 30px;
    border-radius: 5px;

    margin-left: 7%;
    margin-bottom: 30px;
}

.quadro_login button{
    height: 40%;
    width: 60%;

    background-color: rgb(126, 126, 126);
    border-color: rgb(126, 126, 126);
    color: white;
    font-size: 200%;

    border-radius: 10px;
    margin-bottom: 5%;
}

.pedido{
    font-size: 150%;
    margin-left: 7%;
}

.pedido2{
    font-size: 20px;
    margin-left: 7%;
}

.titulozin{
    font-size: 250%;
}

.aviso{
    font-size: 120%;
    background-color: #ff7272;
    color:#ffffff;

    height: 50%;
    width: 80%;
    border-radius: 5px;
    margin-bottom: 5%;
}


/* pagina despesas e receitas */

.adicionar{
    background-color: rgb(247, 244, 244);
    height: 300px;
    width: 600px;
    box-shadow: #313131 10px 7px 20px;
    border-radius: 0px 10px 10px 0px;

    display: flex;
    flex-direction: column;
    text-align: end;

    overflow: hidden;
}

.azul{
    height: 300px;
    width: 250px;

    box-shadow: #313131 15px 7px 20px;
    background-color: #df2828;
    border-radius: 10px 0px 0px 10px;

    display: flex;
    flex-direction: column;
    text-align: end;
}

.azul2{
    height: 300px;
    width: 250px;

    box-shadow: #313131 15px 7px 20px;
    background-color: #fbc12d;
    border-radius: 10px 0px 0px 10px;

    display: flex;
    flex-direction: column;
    text-align: end;
}

.texto_quadro{
    font-size: 28px;
    margin-right: 240px;
    margin-left: 0;
}

.info{
    font-size: 27px;
    color: white;
    margin-top: 30px;
    margin-right: 20px;
    font-family: 'Montserrat';
}

.botao {
    height: 40px;
    width: 120px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #313131;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
}

.botao:hover {
    background-color: #555555;
    transform: translateY(-3px); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.xis {
    margin-left: 25%;
    color: white;
    background-color: #bfcc3a; 
    border: none;
    border-radius: 50%;
    height: 0px;
    width: 35px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.xis:hover {
    background-color: #bbf771; 
    transform: scale(1.1); 
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

.editar, .deletar {
    border: none;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.editar {
    background-color: #fbc12d; 
}

.editar:hover {
    background-color: #d9ffab;
    transform: scale(1.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.deletar {
    margin-left: 30px;
    margin-top: 7px;
    background-color: #e74c3c;
}

.deletar:hover {
    background-color: #df2828; 
    transform: scale(1.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.lapis, .lixeira {
    height: 20px;
    width: 20px;
}

.inputo {
    width: 450px;
    height: 40px;
    margin-left: 20px;
    border-radius: 10px;
    border: 1px solid #CCC;
    padding: 0 10px;
    transition: border-color 0.3s ease;
}

.inputo:focus {
    border-color: #bbf771;
    outline: none;
    box-shadow: 0 0 5px rgba(187, 247, 113, 0.5);
}

.tabela:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
}

.subquadro1:hover, .subquadro2:hover {
    background-color: #f4f4f4;
    transition: background-color 0.3s ease-in-out;
}

.margin1 {
    margin-bottom: -27px;
    margin-left: 460px;
}
.margin2{
    margin-bottom: 27px;
    margin-left: 330px;
}


.grafico{
    background-color: rgb(247, 244, 244);
    height: 0px;
    width: 0px;
    box-shadow: #313131 10px 7px 20px;
    margin-left: 35%;
    border-radius: 0px 0px 10px 10px;
    overflow: auto;
}

.azul_grafico{
    height: 0px;
    width: 0px;
    margin-left: 35%;
    box-shadow: #313131 15px 7px 20px;
    background-color: #bbf771;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-direction: column;
    text-align: end;
}

.info2{
    font-size: 30px;
    color: white;
    margin-top: 30px;
    font-family: 'Montserrat';
}

.divisao2{
    margin-top: 20px;
    margin-right: 70px;
    margin-left: 70px;
    height: 50px;
    width: 1.5px;
    background-color: #ffffff;
}

.subquadro1{
    background-color: rgb(215, 239, 254);
    height: 50px;
    width: 212.5px;
}

.subquadro2{
    background-color: rgb(186, 226, 251);
    height: 50px;
    width: 212.5px;
}

.grafico p{
    font-size: 25px;
    margin-left: 30px;
    margin-top: 8px;
}

.editar{
    background-color: greenyellow;
    border-color: greenyellow;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.column {
    flex-direction: column;
}

/* pagina de apresentação do site */

.imagem-fundo{
    background-image: url(../img/fundo9.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 730px;
}

.agrupamento .letrao{
    font-size: 100px;
    color: #ffffff;
}

.agrupamento{
    margin-left: 900px;
}

.texto-mao{
    font-size: 30px;
    margin-left: 70px;
    margin-top: 200px;
    color: rgb(50, 146, 255);
}

.mao{
    margin-top: 80px;
    height: 500px;
}

.m-top-small {
    margin-top:17px;
}