* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}


/* cola para outras coisas */
.d-flex{
    display: flex;
}

.centraliza{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img_fundo_1{
    background-image: url(../img/imagem_fundo.png);
}

.img_fundo_2{
    background-image: url(../img/imagem_fundo2.png);
}

.espaco{
    height: 150px;
}

.mini-espaco{
    height: 20px;
}


/* Pagina inicial */
.cabecalho{
    background-color: rgba(0, 0, 0, 0.683);
    height: 90px;
    width: 100%;

    position: fixed;
}

.logo{
    width: 100px;
    height: 90px;

    margin-left: 20px;
}

.usuario{
    height: 90px;
    width: 75px;

    margin-left: 50px;
}

.caminhos{
    margin-left: 750px;
}

.caminho{
    color: white;
    margin-top: 35px;
}

.divisao{
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
    height: 30px;
    width: 1px;
    background-color: #ffffff;
}

.fundo{
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: bottom center;
    width: 100%;
    height: 800px;
    position: relative;
    background-attachment: fixed;
}

.saldo_total{
    background-color: white;
    height: 200px;
    width: 850px;
    margin-left: 210px;
    box-shadow: #313131 7px 7px 7px;
}

.saldo_total p{

}

.rede{
    margin-top: 60px
}

.quadro_receitas{
    background-color: white;
    height: 600px;
    width: 410px;
    margin-left: 210px;
    box-shadow: #313131 7px 7px 7px;
}

.quadro_despesas{
    background-color: white;
    height: 600px;
    width: 410px;
    margin-left: 30px;
    box-shadow: #313131 7px 7px 7px;
}

.grafico{
    background-color: white;
    height: 300px;
    width: 850px;
    margin-top: 100px;
    margin-left: 210px;
    box-shadow: #313131 7px 7px 7px;
}

.rodape{
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.683);
    height: 60px;
}



/* pagina login */
.quadro_login{
    background-color: white;
    height: 500px;
    width: 850px;
    margin-left: 210px;
    box-shadow: #313131 7px 7px 7px;
}


/* pagina despesas e receitas */

.adicionar{
    background-color: white;
    height: 300px;
    width: 850px;
    margin-left: 210px;
    box-shadow: #313131 7px 7px 7px;
    border-radius: 10px;
}

.texto_quadro{
    font-size: 28px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.info{
    font-size: 27px;
    margin-left: 150px;
}

.inputo1{
    width: 450px;
    height: 27px;
    margin-left: 13px;
}

.inputo2{
    width: 450px;
    height: 27px;
    margin-left: 10px;

}

.inputo3{
    width: 450px;
    height: 27px;
    margin-left: 21px;

}

.botao{
    height: 30px;
    width: 100px;
    margin-left: 86%;
    margin-top: 10px;
    font-size: 20px;
}


