<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/estilo.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body class="fundo5">
    <section class="d-flex pessoa-fundo">
        <img src="../static/img/pessoa4.png">
        <div class="quadro_login">
            <form action="{{ url_for('logar') }}" method="post">
                <div class="centraliza">
                    <img class="logo2" src="../static/img/logo.png">
                    <p class="titulozin letrao">Entre na sua conta</p>
                    <div class="mini-espaco"></div>
                </div>

                <label for="email" class="pedido letrinha">Email:</label><br>
                <input type="email" id="email" name="email" required><br>
    
                <label for="senha" class="pedido letrinha">Senha:</label><br>
                <input type="password" id="senha" name="senha" required><br>
    
                <div class="mini-espaco"></div>
                <div class="centraliza d-flex column ">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <p class="letrinha aviso">{{ messages[-1][1] }}</p>
                        {% else %}
                            <div class="espacinho"></div>
                        {% endif %}
                    {% endwith %}
                    <button type="submit" class="letrao espacinho">Entrar</button><br>
                    <a href="/cadastro" class="letrinha">Não tem uma conta? Cadastre-se</a>
                </div>
            </form>
        </div>
    </section>
</body>
</html>